{{ ansible_managed | comment }}
HEADSCALE_SERVER_URL=https://{{ headscale_hostname }}
HEADSCALE_TLS_LETSENCRYPT_HOSTNAME={{ headscale_hostname }}
{% if headscale_acme_email | length > 0 %}
HEADSCALE_ACME_EMAIL={{ headscale_acme_email }}
{% endif %}
{% if headscale_dns_base_domain | length > 0 %}
HEADSCALE_DNS_MAGIC_DNS=true
HEADSCALE_DNS_BASE_DOMAIN={{ headscale_dns_base_domain }}
{% endif %}
CONFIG_SHA256={{ headscale_config_stat.results | map(attribute='stat.checksum') | join(',') | hash('sha256') }}
