[defaults]
retry_files_enabled = False
strategy = mitogen_linear
timeout = 30

[ssh_connection]
pipelining = True
retries = 3
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ConnectionAttempts=3 -o ConnectTimeout=30
