---
- name: Ensure /opt/containers exists
  file:
    path: /opt/containers
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Copy containers directory to remote node
  copy:
    src: "{{ playbook_dir }}/../containers/"
    dest: /opt/containers/
    owner: root
    group: root
    mode: '0755'
  notify: Restart containers

- name: Create shared app-infra Docker network
  community.docker.docker_network:
    name: app-infra
    internal: false
    scope: "global"
    state: present

- name: Create cloudflared .env file
  copy:
    content: |
      TUNNEL_TOKEN={{ lookup('env', 'CLOUDFLARED_TOKEN') }}
    dest: /opt/containers/cloudflared/.env
    owner: root
    group: root
    mode: '0600'
  when: lookup('env', 'CLOUDFLARED_TOKEN') | length > 0

- name: Create stalwart .env file
  copy:
    content: |
      PG_PASS={{ lookup('env', 'STALWART_PG_PASSWORD') }}
      MEILI_MASTER_KEY={{ lookup('env', 'STALWART_MEILI_MASTER_KEY') }}
    dest: /opt/containers/stalwart/.env
    owner: root
    group: root
    mode: '0600'
  when: lookup('env', 'STALWART_PG_PASSWORD') | length > 0 and lookup('env', 'STALWART_MEILI_MASTER_KEY') | length > 0

- name: Setup Authentik Infrastructure
  include_tasks: authentik.yml

- name: Deploy docker-compose projects
  loop: "{{ docker_stacks | dict2items }}"
  block:
    - name: Check .env file existence
      ansible.builtin.stat:
        path: "/opt/containers/{{ item.key }}/.env"
      register: env_stat

    - name: Deploy stack
      community.docker.docker_compose_v2:
        project_src: "/opt/containers/{{ item.key }}"
        state: "{{ item.value.state }}"
      when: not item.value.env_file or (item.value.env_file and env_stat.stat.exists)
      register: compose_result

# - name: Show compose results
#   debug:
#     var: compose_results
