---
- name: Ensure PHP FPM services are stopped and disabled
  ansible.builtin.systemd_service:
    name: "php{{ item }}-fpm"
    state: stopped
    enabled: no
  loop:
    - "7.1"
    - "7.2"
    - "7.3"
    - "7.4"
    - "8.0"
    - "8.1"
    - "8.2"
    - "8.3"

- name: Ensure PHP FPM pool configuration files have read permissions
  ansible.builtin.file:
    path: "/etc/php/{{ item }}/fpm/pool.d"
    mode: "a+r"
    recurse: yes
  loop:
    - "7.1"
    - "7.2"
    - "7.3"
    - "7.4"
    - "8.0"
    - "8.1"
    - "8.2"
    - "8.3"
  failed_when: false
  no_log: true
