---
services:
  database:
    image: docker.io/library/postgres:16-alpine
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 10s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - database:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - authentik

  server:
    image: ghcr.io/goauthentik/server:2025.12.2
    restart: unless-stopped
    command: server
    volumes:
      - ./data:/data
      - ./custom-templates:/templates
    env_file:
      - .env
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9443:9443"
    depends_on:
      database:
        condition: service_healthy
    networks:
      - authentik
      - app-infra

  worker:
    image: ghcr.io/goauthentik/server:2025.12.2
    restart: unless-stopped
    command: worker
    user: root
    volumes:
      - ./data:/data
      - ./custom-templates:/templates
      - ./certs:/certs
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - .env
    depends_on:
      database:
        condition: service_healthy
    networks:
      - authentik

volumes:
  database:
    driver: local

networks:
  authentik:
    driver: bridge
  app-infra:
    external: true
