- name: Update apt-cache and do dist upgrade
  apt:
    update_cache: yes
    upgrade: dist

- name: Install nginx
  apt:
    name:
      - nginx
      - libnginx-mod-stream
    state: present

- name: Ensure nginx is enabled and started
  service:
    name: nginx
    enabled: yes
    state: started

- name: Check if reboot required
  stat:
    path: /var/run/reboot-required
  register: reboot_required_file

- name: Reboot if required
  reboot:
  when: reboot_required_file.stat.exists == true
